.wrapper {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.span {
    display: inline-block;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    line-height: 4;
}

.red {
    color: red;
}